<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="facebook-domain-verification" content="6omfjhevvkysbw0b8svz295tlprv7e" />
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MTGZLDG');</script>
<!-- End Google Tag Manager -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HFZ5FC9EFV"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=GTM-MTGZLDG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HFZ5FC9EFV');
	 gtag('config', 'GTM-MTGZLDG');
</script>
    
<title>Best Clubs in Mumbai | Top Luxury Business Clubs in Mumbai for Social &amp; Business Networking - The Indus club</title>
<meta name="description" content="The Indus Club - Best Business Clubs in Mumbai. The most admired and aspired to club in Mumbai, The Indus Club at BKC, is where the finest minds come together to exchange ideas, forge new connections and nurture old ones.">
<meta name="robots" content="index, follow">
<meta name="keywords" content="best clubs in mumbai, top clubs in mumbai, luxury clubs in mumbai, networking clubs in mumbai, business clubs">

<link rel="icon" href="img/favicon.png">
<link rel="canonical" href="https://www.theindusclub.com/" />

<link rel="alternate" href="https://www.theindusclub.com/" hreflang="en-in" />

<meta property="og:title" content="Best Clubs in Mumbai | Top Luxury Business Clubs in Mumbai for Social & Business Networking - The Indus club">
<meta property="og:site_name" content="The Indus Club">
<meta property="og:url" content="https://www.theindusclub.com/">
<meta property="og:description" content="The Indus Club - Best Business Clubs in Mumbai. The most admired and aspired to club in Mumbai, The Indus Club at BKC, is where the finest minds come together to exchange ideas, forge new connections and nurture old ones.">
<meta property="og:type" content="website">
<meta property="og:image" content="https://www.theindusclub.com/assets/img/logo-large.webp">
<meta property="og:locale" content="en_IN"/>

<meta property="twitter:card" content="summary">
<meta property="twitter:site" content="https://www.theindusclub.com/">
<meta property="twitter:title" content="Best Clubs in Mumbai | Top Luxury Business Clubs in Mumbai for Social & Business Networking - The Indus club">
<meta property="twitter:description" content="The Indus Club - Best Business Clubs in Mumbai. The most admired and aspired to club in Mumbai, The Indus Club at BKC, is where the finest minds come together to exchange ideas, forge new connections and nurture old ones.">
<meta property="twitter:image" content="https://www.theindusclub.com/assets/img/logo-large.webp">

<meta name="contact_addr" content="contact@theindusclub.com" />
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
<meta name="language" content="en-USA" />
<meta name="owner" content="The Indus Club" />
<meta name="distribution" content="GLOBAL" />
<meta name="city" content="Mumbai" />
<meta name="country" content="India" />
<meta name="state" content="Maharashtra" />
<meta name="zipcode" content="400051" />
<meta name="geo.region" content="IN-MH" />
<meta name="geo.placename" content="Mumbai" />
<meta name="rating" content="general" />
<meta name="copyright" content="Copyright (c) 2022 by The Indus Club, all rights reserved." />
<meta name="DC.Publisher" content="The Indus Club" />
<meta name="geo.region" content="IN-MH" />
<meta name="geo.placename" content="Mumbai" />

<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","url":"https:\/\/www.theindusclub.com\/","name":"The Indus Club","alternateName":"The Indus Club","potentialAction":{"@type":"SearchAction","target":"https:\/\/www.theindusclub.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>

<script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"Organization","url":"https:\/\/www.theindusclub.com\/","sameAs":["https:\/\/www.facebook.com\/https://www.facebook.com/TheIndusClubBKC/","https:\/\/www.instagram.com\/the_indus_club","https:\/\/www.linkedin.com/company/theindusclub/"],"name":"The Indus Club","logo":"https://www.theindusclub.com/assets/img/logo-large.webp"}</script>

<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Hotel",
    "name": "The Indus Club",
    "description": "The Indus Club - Best Business Clubs in Mumbai. The most admired and aspired to club in Mumbai, The Indus Club at BKC, is where the finest minds come together to exchange ideas, forge new connections and nurture old ones.",
    "address": {
        "@type": "PostalAddress",
        "addressCountry": "IN",
        "addressLocality": "Bandra Kurla Complex",
        "addressRegion": "Mumbai",
        "postalCode": "400051",
        "streetAddress": "Bandra Kurla Complex"
    },
    "telephone": "+91-2241600800",
    "photo": "https://www.theindusclub.com/assets/img/about-us/events-vip__bannernew.jpg",
    "starRating": {
        "@type": "Rating",
        "ratingValue": "4.7"
    },
    "priceRange": "$$ - $$$$"
}</script>

    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" type="assets/img/x-icon" href="assets/img/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/style_index.css">
    <link rel="stylesheet" href="assets/css/index.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" rel="stylesheet" />

<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '454165783126291');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=454165783126291&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MFBFBSMD');</script>
<!-- End Google Tag Manager -->
</head>

<style type="text/css">
    .vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
   -webkit-transition: 1s ease-in-out top;
   -moz-transition: 1s ease-in-out top;
   -ms-transition: 1s ease-in-out top;
   -o-transition: 1s ease-in-out top;
   transition: 1s ease-in-out top;
}

.carousel.vertical .active {
   top: 0;
}

.carousel.vertical .next {
   top: 400px;
}

.carousel.vertical .prev {
   top: 400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
   top: 0;
}

.carousel.vertical .active.left {
   top: -400px;
}

.carousel.vertical .active.right {
   top: 400px;
}

.carousel.vertical .item {
   left: 0;
}
</style>
<script type="text/javascript">
window.onload = function(){
$("#reg_button").animate({right: '0px', width: '200px', opacity: '1'}, "slow"); }
</script>
<body class="body">
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTGZLDG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
	<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="logo-div modal-title">
                    <a href="index.html">
                        <picture>
                            <source class="img-responsive" srcset="assets/img/logo-small.webp" alt="Indus Club Logo" type="image/webp">
                            <source class="img-responsive" srcset="assets/img/logo-small.png" alt="Indus Club Logo" type="image/png">
                            <img class="img-responsive img-logo" src="assets/img/logo-small.png" alt="Indus Club Logo" style="margin-top: 0px;margin-bottom: 0px;">
                        </picture>    
                        <!--<img class="img-responsive img-logo" src="assets/img/logo-small.png" style="margin-top: 0px;margin-bottom: 0px;">-->
                    </a>
                </div>
                <button type="button" class="close close-btn" data-dismiss="modal" style="    position: absolute; right: 15px; top: 10px;">&times;</button>
            </div>
            <div class="modal-body"  ng-controller="mainController">
                <div ng-show="isSent">
                    <div style="text-align: center; margin: 20px 30px 50px;">
                    <h4>THANK YOU FOR YOUR INTEREST! <br>WE WILL GET IN TOUCH WITH YOU SHORTLY. <br><br>WARM REGARDS, <br>THE INDUS CLUB TEAM</h4>
                    </div>
                </div>
                <div ng-show="!isSent">
                    <p class="form-desc">The Indus Club membership is strictly by-invitation or member referral, extended to newsmakers, leaders and legends; at the sole of discretion of the Membership Committee. We welcome interest from persons that believe they belong to this unique fellowship and will respond promptly to inquiries.</p>
                    <!--<form  class="form-horizontal" name="basicform" id="basic_form"  ng-submit="submitForm(basicform.$valid)" novalidate> -->
						<form class="form-horizontal" name="myform" id="myform"  action="thankyou.php" method="post">
                        <div class="form-group" >
                            <div class="col-sm-6 col-xs-12">
                            <input type="text" class="form-control" id="uname" placeholder="Name*" name="uname" required>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                            <input type="text" class="form-control" id="ucompany" placeholder="Company Name*" name="ucompany" required>
                            </div>
                        </div>
                        <div class="form-group">
                        <div class="col-sm-6 col-xs-12">
                        <input type="text" class="form-control" id="ucity" placeholder="City*" name="ucity" required>
                        
                        </div>
                        <div class="col-sm-6 col-xs-12">
                       <!-- <input type="text" class="form-control" id="uage" placeholder="Age*" name="uage" ng-model="u.age" required> -->
			<select class="form-control" id="uage" name="uage" required>
                            <option selected="true" disabled="disabled" value="" style="visibility:hidden;">Age*</option>
                            <option value="25-34">25-34</option>
                            <option value="35-44">35-44</option>
                            <option value="45-54">45-54</option>
                            <option value="55+">55+</option>
                        </select>

                        
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="col-xs-12">
                        <select class="form-control" id="sel1" name="sel1" required>
                            <option selected="true" disabled="disabled" value="" style="visibility:hidden;">Designation*</option>
                            <option value="Promoter/Founder">Promoter/Founder/Co-Founder</option>
                            <option value="Chairman/Managing Director">MD/Chairman/CEO</option>
                            <option value="COO/President">COO/President</option>
                            <option value="CFO/Finance Director">CFO/Finance Director</option>
                            <option value="CHRO/HR Director">CHRO/HR Director</option>
                            <option value="Diplomat">Diplomat</option>
                            <option value="Artist/Author">Artist/Author</option>
                            <option value="Sportsperson">Sportsperson</option>
                            <option value="Filmmaker">Filmmaker</option>
                            <option value="Other">Other</option>
                        </select>
                        
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="col-xs-12">
                        <select class="form-control" id="sel2" name="sel2" required>
                            <option selected="true" disabled="disabled" value="" style="visibility:hidden;">How Did You Learn About Us? </option>
                            <option value="Friends/family">Friends/Family</option>
                            <option value="Colleagues/associates">Colleagues/Associates</option>
                            <option value="Media">Media</option>
                            <option value="Social media">Social Media</option>
                            <option value="Online search ">  Online Search</option>
                            <option value="Other">Other</option>
                        </select>
                        </div>
                        </div>
                        <div class="form-group">
                        <div class="col-sm-6 col-xs-12" >

                        <input type="text" class="form-control" id="umobile" placeholder="Mobile*" name="umobile" onfocus="this.placeholder = '',this.value='+91'" onblur="this.placeholder = 'Mobile'" required >
                        <!--<p ng-show="basicform.umobile.$invalid && !basicform.umobile.$pristine" class="help-block">Must enter 10 digit phone number.</p>-->
                        </div>
                        <div class="col-sm-6 col-xs-12">
                        <input type="email" class="form-control" id="uemail" placeholder="Email*" name="uemail" ng-model="u.email" required>
                        </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12" style="text-align: center;">
                            <!--<button type="submit" onClick="window.location.href='https://theindusclub.com/thankyou.html';" class="btn btn-default submit-btn" style="margin: 10px auto;" >Submit</button>-->
                            <button type="submit" class="btn btn-default submit-btn" style="margin: 10px auto;" >Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
	
  <!--  <wb-headerindex></wb-headerindex> -->
    <section>
        <div class="container home-page">
            <article class="gradient-border">
                <div class="row banner-container">
                    <div class="col-lg-8 col-md-12 no-padding">
                        <picture>
                            <source class="img-responsive" srcset="assets/img/about-us/events-vip__bannernew.jpg" alt="Indus Club" style="width: 100%;" type="image/webp">
                            <source class="img-responsive" srcset="assets/img/about-us/events-vip__bannernew.jpg" alt="Indus Club" style="width: 100%;" type="image/png">
                            <img class="img-responsive" src="assets/img/about-us/events-vip__bannernew.jpg" alt="Indus Club" style="width: 100%;">
                        </picture>
                    </div>
                    <div class="col-lg-4 col-md-12 no-padding align-self-stretch">
                        <div class="banner-details">
                            <h3 class="txt-uppercase txt-title txt-gradient">THE PRIVATE WORLD OF NEWSMAKERS, LEADERS AND LEGENDS.</h3>
                            <p>'The most admired and aspired to club in Mumbai', The Indus Club at BKC, is where the finest minds come together to exchange ideas, forge new connections and nurture old ones. And to enjoy its haute cuisine, the city's most engaging social & events calendar, outstanding wellness amenities, global access to luxury partner clubs and VIP experiences at the world's most sought after events. Membership is by invitation or referral only. </p>
                        </div>

                    </div>
  <div class="col-lg-4 col-md-12 no-padding align-self-stretch">

<div class="owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 no-padding testimonial_content">
                                                <p style="  font-family: 'Walburn-Italic-2' !important;">
                                                    "Redefines the idea of a luxury private members' club with its unique mix of business, lifestyle and entertainment elements. Sets the bar for others to aspire to." </p>
                                                    <h2 >Harsh Mariwala </h2>
						    <p  class="txt-gradient" >Chairman, Marico</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 no-padding testimonial_content">
                                                <p style="  font-family: 'Walburn-Italic-2' !important;">
                                                    "The most admired & aspired to club in Mumbai."</p>
                                                    <h2 >ET PANACHE</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 no-padding testimonial_content">
                                                <p style="  font-family: 'Walburn-Italic-2' !important;">
                                                   "The Indus Club scores a flawless century with outstanding decor, superb cuisine, engaging lifestyle and entertainment options & impeccable business amenities." </p>
                                                    <h2 >Sunil Gavaskar</h2>
					            <p  class="txt-gradient">The Legendary Cricketer</p>
		
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 no-padding testimonial_content">
                                                <p style="  font-family: 'Walburn-Italic-2' !important;">
                                                    "An ode to luxury." </p>
                                                    <h2 >India Today Spice</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 no-padding testimonial_content">
                                                <p style="  font-family: 'Walburn-Italic-2' !important;">
                                                    "An amazing club - fine food, great service but above all an exceptional ambience. The creativity, passion & eye for detail speak through every inch. All told, a magical experience." </p>
                                                    <h2 >Uday Shankar</h2>
 						<p  class="txt-gradient">Chairman & CEO, Star TV/President, 21st Century Fox Asia</p>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="item">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 no-padding testimonial_content">
                                                <p style="  font-family: 'Walburn-Italic-2' !important;">
                                                    "Signing a contract with this Club is quite possibly one of your best decisions."</p>
                                                    <h2 >GQ
                                                    </h2>
                                            </div>
                                        </div>
                                    </div>
                                       <!-- <div class="item">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 no-padding testimonial_content">
                                                <p style="  font-family: 'Walburn-Italic-2' !important;">
                                                   "With probably 4 out of 5 CEOs of prominent companies already members, especially from media and entertainment, BFSI and consumer industries, The Indus Club is now the preferred destination for C Suite executives whether for business or to simply unwind." </p>
                                                    <h2 >HARIT NAGPAL</h2>
						<p  class="txt-gradient"> MD & CEO, Tata Sky </p>
                                            </div>
                                        </div>
                                    </div>   -->     
.                                   
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 no-padding testimonial_content">
                                                <p style="  font-family: 'Walburn-Italic-2' !important;">
                                                   "It is aimed at those that still consider handshakes to be a precious thing, invested with meaning and possibilities. There are many important handshakes to be made here..." </p>
                                                    <h2 >Business Standard</h2>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 no-padding testimonial_content">
                                                <p style="  font-family: 'Walburn-Italic-2' !important;">
                                                    "Superbly combines all the elements of Home, Workplace & Leisure. The Indus Club, with its state-of-the-art theatre, exceptional fine dining, lovely meeting rooms & so much more; draws me all the time, often with family."</p>
                                                    <h2> Ashutosh Gowariker</h2>
					        <p  class="txt-gradient">Oscar Nominee Director of Lagaan</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 no-padding testimonial_content">
                                                <p style="  font-family: 'Walburn-Italic-2' !important;">
                                                   "If we had to use one word to succinctly convey the feel of the club, we would go with debonair."</p>
                                                    <h2>Architectural Digest </h2>
                                            </div>
                                        </div>
                                    </div>

</div>
</div>
                </div>

            </article>
        </div>
    </section>

<div class="know-more"><a href="" class="know-more__btn" data-toggle="modal" data-target="#myModal">Register Your Interest</a></div>
	
	
	<div>
	
	
	
	</div>
	
	
	
	
<!--<div class="top-reg-buttton" id="reg_button" data-toggle="modal" data-target="#myModal"><img src="assets/img/forms-icon.png" width="20"> <span class="int-text"> Register Your Interest </span> </div>-->
    <!--<wb-footerindex></wb-footerindex>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/anim.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script src="assets/js/modernizr-custom.js"></script>
    <script>
$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:false,
    autoplay: true,
    autoplayTimeout: 15000,
   // autoplay:15000,

    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    }
})    </script>
</body>

</html>