/*Larger Screen*/
@media only screen and (min-width: 1400px){ 

} 
/*Medium Screen*/
@media only screen and (min-width:1200px) and (max-width:1399px){

}
/*Small Screen + Ipad Pro*/
@media only screen and (min-width:992px) and (max-width:1200px){
    .fooetr-bottom p:last-child{
        text-align: center;
        padding: 20px 0px;
    }
    .footer_menu li a{
        padding:0px 24px 0px;
    }
    .welcome h1{
        text-align:center;
    }
}
/*Ipad P+L*/
@media only screen and (min-width:768px) and (max-width:992px){
   .footer_menu li a{
        padding:0px 13px 0px;
    }
    .fooetr-bottom p:last-child{
        text-align: center;
        padding: 20px 0px;
    }
}
/*Tab + Mobile Landscape*/
@media only screen and (min-width:630px) and (max-width:767px){
    .footer_menu li a{
        padding:0px 12px 0px;
        font-size: 12px;
    }
    .fooetr-bottom p:last-child{
        text-align: center;
        padding: 20px 0px;
    }
}
@media only screen and (min-width:500px) and (max-width:629px){
   .footer_menu li{
        width: 100%;
        text-align: center;
        margin: 0px auto;
        padding-bottom: 10px;
        float: left;
    }
    .footer_menu li a{
        padding:0px;
    }
    .fooetr-bottom p:last-child{
        text-align: center;
        padding: 20px 0px;
    }
}
/*Mobile Potrait*/
@media only screen and (min-width:320px) and (max-width:499px){
    .fooetr-bottom p:last-child{
        text-align: center;
        padding: 20px 0px;
    }
    .footer_menu li a{
        padding:0px;
    }
    .footer_menu li{
        width: 90%;
        text-align: center;
        margin: 0px auto;
        padding-bottom: 10px;
        float: left;
    }
    .inner{
        padding:0px;
    }
    .banner{
        padding:15px;
    }

}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

     
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}
@media screen and (min-width: 320px) and (max-width: 1199px){
    .welcome p,.welcome h1{
      text-align: center;
    }
    .welcome{
       padding:0px 20px 14px;
    }
    .txt-italic,.tab p{
        margin-top: 30px !important;
    }
}
@media screen and (min-width: 320px) and (max-width: 400px){
    button,.google_review{
      padding: 10px 5px;
      font-size: 11px!important;
    }
    #regForm{
      min-width: 218px;
    }
}
