body{
    background: #0e1d39;
}
.no-webp body::before {
    content: "";
    background: url(../img/body-bg__Spielberg.jpg) no-repeat fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}

.webp body::before {
    content: "";
    background: url(../img/body-bg__Spielberg.webp) no-repeat fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}
.right-design {
    position: absolute;
    right: 0px;
    top: 20%;
    z-index: -1;
}
.white__design {
    position: absolute;
}
.white__right-0 { 
    right: 0px;
    top: 4%;
}
.white__left-0 {
    left: 0px;
    top: 40%;
}
.white__right-1 {
    right: 0px;
    top: 70%;
}
section {
    min-height: 100vh;
}
.img-logo {
    height: 80px;
    margin: 20px auto;
}
article {
    margin: 30px 60px;
    margin-bottom: 100px;
}
.banner-container {
    margin: 30px;
    background: #f6f1ed;
    box-shadow: 0px 0px 30px 5px rgba(74, 74, 74, 0.25);
}
.banner-details {
    color: #9F865E;
    padding: 25px 45px 25px 20px!important;
}
.banner-details p,
.all-events p {
    color: #9F865E !important;
    font-size: 1.8rem;
    line-height: 3rem;
    margin: auto;
    margin-top: 20px;
}
.banner-details p {
    line-height: 2.5rem;
}
.all-events {
    margin: 6rem auto;
}
.all-events__container {
    margin: 0px;
}
.all-events__container figure .img {
    box-shadow: 0px 0px 30px 5px rgba(74, 74, 74, 0.25);
    margin: auto;
    width: 100%;
}
.all-events h2 {
    color: #242d4a;
    letter-spacing: 4px;
    font-size: 36px;
}
hr {
    width: 50px;
    border: 1.5px solid #8c6c4d;
    text-align: left;
    margin: 20px 0;
    background: #8c6c4d;
}
.right-side__img {
    float: right;
}
.right-side__para {
    float: left;
}
@media only screen and (max-width: 425px) and (orientation:portrait) {
    article {
        margin: 30px 0;
        margin-bottom: 100px;
    }
    .banner-container {
        margin: 15px;
    }
    .img-logo {
        height: 60px;
    }
    .right-design,
    .left-design,
    .right-design1,
    .left-design1,
     .white__design{
        height: 18rem;
    }
    .banner-details {
        text-align: center;
        padding: 20px !important;
    }
    .banner-details h1 {
        font-size: 2.4rem;
    }
    .banner-details p {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .event-content_details {
        text-align: center;
    }
    hr {
        margin: auto;
    }
    .all-events h2 {
        font-size: 2.6rem;
        letter-spacing: 2px;
    }
    .all-events p {
        font-size: 1.7rem;
        line-height: 2.2rem;
    }
    .all-events__container figure {
        margin: 0px 50px !important;
    }
}
@media only screen and (max-width: 767px) {
    .all-events__container figure {
        border-left: 1px solid !important;
        border-right: 1px solid !important;
        border-top: 1px solid !important;
        border-bottom: 1px solid !important;
        margin: 0px 50px !important;
        padding: 10px !important;
    }
    .event-content_details{
        text-align: center;
    }
    hr{
        margin: auto;
    }
}
@media only screen and (max-width: 1024px) {
    .event-content_img {
        padding: 0px !important;
    }
    .event-content_details {
        padding: 3rem !important;
    }
}