body{
    background: #0e1d39;
}
.no-webp body::before {
    content: "";
    background: url(../img/body-bg__Riviera.jpg) no-repeat fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}

.webp body::before {
    content: "";
    background: url(../img/body-bg__Riviera.webp) no-repeat fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}
.right-design {
    position: absolute;
    right: 0px;
    top: 15rem;
    z-index: -1;
}

.left-design {
    position: absolute;
    left: 0px;
    top: 60rem;
    z-index: -1;
}
section {
    min-height: 100vh;
}
.img-logo {
    height: 80px;
    margin: 20px auto;
}
article {
    margin: 4rem 4rem 2rem;
}
.banner-container {
    margin: 30px;
    background: #f6f1ed;
    box-shadow: 0px 0px 30px 5px rgba(74, 74, 74, 0.25);
}
.banner-details {
    color: #9F865E;
    padding: 5rem 1rem 2.5rem !important;
}
.banner-page__title {
    padding: 8em 1.3rem !important;
}
.left-quote {
    position: absolute;
    left: 25rem;
    top: 3rem;
}
.right-quote {
    position: absolute;
    right: 25rem;
    top: 18rem;
}
.banner-details .txt-title {
    font-size: 6rem;
    border: 1px solid #9F865E;
    width: 50%;
    margin: 0px auto;
    padding: 4.6rem 0;
    margin-bottom: 5rem;
}
.banner-details p {
    font-size: 1.8rem;
    line-height: 3rem;
    margin: auto;
}
.quote-type {
    padding: 0rem 0 4rem;
}
.quote-type a {
    color: #9F865E;
    padding: 0px 10px;
    font-size: 1.7rem;
    letter-spacing: 1px;
    text-decoration: underline;
}
@media only screen and (max-width: 550px) and (orientation:portrait) {
    article {
        margin: 30px 0;
    }
    .banner-container {
        margin: 15px;
    }
    .banner-details .txt-title {
        font-size: 3rem;
    }
    .left-quote,
    .right-quote {
        height: 3rem;
    }
    .left-quote {
        top: 3.5rem !important;
    }
    .right-quote {
        top: 15.5rem !important;
    }
    .img-logo {
        height: 60px;
    }
    .banner-details p {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .banner-details .txt-title {
        margin: 3rem auto;
    }
    .right-design,
    .left-design,
    .right-design1,
    .left-design1 {
        height: 18rem;
    }
}
@media only screen and (max-width: 992px) {
    .banner-page__title,
    .banner-details {
        padding: 1.3em !important;
    }
    .banner-details .txt-title {
        width: 100%;
    }
    .left-quote {
        position: absolute;
        left: 1rem;
        top: 1rem;
    }
    .right-quote {
        position: absolute;
        right: 1rem;
        top: 15rem;
    }
    .banner-details p>br{
        display: none;
    }
}