/*  FONTS CSS   */
@font-face {
    font-family: 'Walburn-Italic-2';
    src: url(../fonts/Walburn-Italic-2.otf);
}
@font-face {
    font-family: 'Walburn-Regular-2';
    src: url(../fonts/Walburn-Regular-2.otf);
}
/*  SIDE BAR    */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {}
::-webkit-scrollbar-thumb {
    background: #f6f1ed;
}
::-webkit-scrollbar-thumb:hover {
    background: #f6f1ed;
}
/*  COMMON CSS  */
* {
    margin: 0;
    padding: 0;
}
body {
    background: #f4f1ec;
    font-family: 'Walburn-Regular-2' !important;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}
a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}
iframe {
    border: 0
}
a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
.btn:active,
.btn:active {
    box-shadow: none;
}
.txt-white {
    color: #fff;
}
.txt-black {
    color: #000;
}
.txt-title {
    color: #222;
}
.txt-primary {}

.txt-secondary {}

.txt-success {
    color: #00ad5f;
}
.txt-para {}
.txt-italic {
    font-style: italic;
}
.txt-bold {
    font-weight: bold;
}
.txt-left {
    text-align: left;
}
.txt-right {
    text-align: right;
}
.txt-center {
    text-align: center;
}
.txt-xl {
    font-size: 48px;
}
.txt-lg {
    font-size: 36px;
}
.txt-md {
    font-size: 18px;
}
.txt-sm {
    font-size: 16px;
}
.txt-xs {
    font-size: 14px;
}
.txt-uppercase {
    text-transform: uppercase;
}
.no-padding {
    padding: 0px !important;
}
.no-margin {
    margin: 0px !important;
}
.container-padding {
    padding-top: 5em;
    padding-bottom: 5em;
}
.txt-gradient {
    color: white;
    background: linear-gradient(to bottom right, #715524 0%, #b3977a 100%);
    background: -webkit-linear-gradient(to bottom right, #715524 0%, #b3977a 100%);
    background: -moz-linear-gradient(to bottom right, #715524 0%, #b3977a 100%);
    background: -ms-linear-gradient(to bottom right, #715524 0%, #b3977a 100%);
    background: -o-linear-gradient(to bottom right, #715524 0%, #b3977a 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
}
.gradient-border {
/*    border: 2px solid transparent;*/
    
    border-width: 2px;
    border-style: solid;
    
    border-image: linear-gradient(to bottom right, #715524 0%, #b3977a 100%);
    -moz-border-image: -moz-linear-gradient(to bottom right, #715524 0%, #b3977a 100%);
    -webkit-border-image: -webkit-linear-gradient(to bottom right, #715524 0%, #b3977a 100%);
    border-image-slice: 1;    
    -webkit-border-image-slice: 1;
}
.btn-common {
    color: #000;
    font-size: 16px;
    background: #fff;
    padding: 15px 30px;
    letter-spacing: 1px;
    border-radius: 50px;
    border: 1px solid #fff;
}
.btn-common:hover,
.btn-common:focus {
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    transition: all 0.3s ease 0s;
}
.logo-div {
    margin: auto;
    width: 200px;
}
/*
.select{ 
   -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;   
   -webkit-border-radius: 0;   
   -moz-border-radius: 0;     
   border-radius: 0;  
}
*/
/*----- ANIMATION CSS STARTS HERE -----*/
.zoom-anim,
.roll-anim,
.fade-anim {
    visibility: hidden;
}
.zoomIn {
    animation-name: zoomIn;
    -webkit-animation-name: zoomIn;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    visibility: visible;
}
.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    visibility: visible;
}
.fadeOut {
    animation-name: fadeOut;
    -webkit-animation-name: fadeOut;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    visibility: visible;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 960px) and (orientation: landscape) {
    .gradient-border {
/*        border: 1px solid transparent;*/        
        border-width: 1px;
        border-style: solid;        
        border-image: linear-gradient(to bottom right, #715524 0%, #b3977a 100%);
        -webkit-border-image: linear-gradient(to bottom right, #715524 0%, #b3977a 100%);
        border-image-slice: 1;
        -webkit-border-image-slice: 1;
    }
}
@media only screen and (max-width: 425px) and (orientation:portrait) {
    .gradient-border {
/*        border: 1px solid transparent;*/        
        border-width: 1px;
        border-style: solid;        
        border-image: linear-gradient(to bottom right, #715524 0%, #b3977a 100%);
        -webkit-border-image: linear-gradient(to bottom right, #715524 0%, #b3977a 100%);
        border-image-slice: 1;
        -webkit-border-image-slice: 1;
    }
    body {
        font-family: 'Walburn-Regular-2' !important;
    }
}
@media only screen and (max-width: 550px) {
    .logo-div {
        margin: auto;
        width: 120px;
    }
}
@media only screen and (min-width: 1780px) {
    .logo-div {
        margin: auto;
        width: 280px;
    }
}