body{
    background: #0e1d39;
}
.no-webp body::before {
    content: "";
    background: url(../img/body-bg__Reception.jpg) no-repeat fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}
.top-reg-buttton {
    position: fixed;
    right: 0;
    transition: all 0.5s;
    z-index: 999;
    padding: 10px;
    background: #242d4a;
    width: 200px;
    cursor: pointer;
    bottom: 60px;
}
.webp body::before {
    content: "";
    background: url(../img/body-bg__Reception.webp) no-repeat fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}
.right-design {
    position: absolute;
    right: 0px;
    top: 15rem;
    z-index: -1;
    background: url(../img/right-design.png) no-repeat fixed;
}
.right-design1 {
    position: absolute;
    right: 0px;
    top: 120rem;
    z-index: -1;
}
.left-design {
    position: absolute;
    left: 0px;
    top: 60rem;
    z-index: -1;
}
.white__design {
    position: absolute;
}
.white__left-0 {
    left: 0px;
    top: 10%;
}
.white__right-0 {
    right: 0px;
    top: 50%;
}
section {
    color: #9F865E;
    min-height: 100vh;
}
.img-logo {
    margin: 0 auto 20px auto;
}
article {
   /* margin: 4rem;*/
    margin-bottom: 2rem;
    margin-bottom: 100px;
}
.banner-container {
    margin: 15px;
    background: #f6f1ed;
    box-shadow: 0px 0px 30px 5px rgba(74, 74, 74, 0.25);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.banner-details {
    color: #9F865E;
    padding: 5rem 1rem !important;
}
.banner-page__title {
    text-align: left;
    padding: 5em 2rem !important;
}
.banner-page__title .txt-title {
    font-size: 4rem;
}
.banner-details p,
.membership-txt p {
    font-size: 1.8rem;
    line-height: 3rem;
    margin: auto;
}
.membership-txt p {
    padding: 10px 0;
}
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.flex-container>div {
    background-color: transparent;
    width: 20rem;
    margin: 3rem;
    text-align: center;
}
.flex-container h2 {
    letter-spacing: 1px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 18px;
}
.flex-container hr {
    border: 0.4px solid #9F865E;
    margin: auto;
    margin-top: 5px;
    width: 50%;
}
.flex-container p {
    margin: 10px 5px;
    font-size: 1.5rem;
}
.flex-container .icon-img {
    margin: auto;
    width: 65%;
}

.know-more,
.banner-page__title .know-more {
    text-align: left;
}
.know-more__btn,
.know-more__btn:focus {
    display: inline-block;
    color: #9F865E;
    margin: auto;
    border: 2px solid #9F865E;
    padding: 10px;
    font-size: 1.6rem;
}
.know-more__btn:hover {
   
    border-top-color: #242d4a;
    border-right-color: #242d4a;
    border-bottom-color: #242d4a;
    border-left-color: #242d4a;
    transition: color 0.4s linear, border-top-color 0.20s linear, border-right-color 0.20s linear 0.25s, border-bottom-color 0.25s linear 0.45s, border-left-color 0.45s linear 0.50s;
}
.modal-content,
.form-control {
    border-radius: 0px;
}
.form-control {
    border: 1px solid #9F865E;
}
option {
    color: #9F865E;
}
.form-control::placeholder {
    color: #9F865E;
}
.form-control {
    color: #9F865E;
    font-size: 1.8rem;
    margin: 10px 0;
    height: 40px;
}
.modal-header {
    border-bottom: 0px;
}
.close-btn {
    color: black;
    font-size: 40px;
    margin-top: -10px;
    opacity: 1;
}
.submit-btn {
    background: #9F865E;
    border-color: #9F865E;
    border-radius: 0px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}
.form-desc {
    font-size: 1.4rem;
    color: #9F865E;
    text-align: center;
    line-height: 16px;
    margin-bottom: 25px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.modal-body {
    padding: 15px 35px;
}
.recapDivdark>div{
    margin: auto;
}
.rc-anchor-dark.rc-anchor-normal {
    border: 1px solid #9f865e !important;
}
.rc-anchor-dark {
    background: #9f865e !important;
}
@media only screen and (max-width: 450px) and (orientation:portrait) {
    article {
        margin: 30px 0;
        margin-bottom: 80px;
    }
    .banner-container {
        margin: 15px;
    }
    .flex-container>div {
        margin: 2rem 1rem;
    }
    .img-logo {
        height: 60px;
    }
    .membership-txt p {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .flex-container>div {
        width: 14rem !important;
        margin: 2rem 0rem !important;
    }
    .flex-container p {
        margin: 20px 2px;
        font-size: 1.3rem;
    }
    .flex-container h2 {
        font-size: 13px;
    }
    .banner-page__title .txt-title {
        font-size: 3rem;
    }
    .know-more__btn {
        font-size: 1.5rem;
    }
    .right-design,
    .left-design,
    .right-design1,
    .left-design1,
     .white__design{
        height: 18rem;
    }
}
@media only screen and (max-width: 768px) {
    .banner-page__title,
    .banner-details {
        padding: 1.3em !important;
        text-align: center !important;
    }
    .banner-container {
        justify-content: center;
    }
    .know-more {
        text-align: center !important;
    }
    .membership-txt p>br {
        display: none;
    }
    .form-group {
        margin-bottom: 0px;
    }
    .flex-container>div {
        width: 15rem;
        margin: 2rem 1rem;
    }
}
@media only screen and (max-width: 1024px) {
    .membership-txt p>br {
        display: none;
    }
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 700px;
    }
}