body{
    background: #0e1d39;
}
.no-webp body::before {
    content: "";
    background: url(../img/body-bg__Sinatra.jpg) no-repeat fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}

.webp body::before {
    content: "";
    background: url(../img/body-bg__Sinatra.webp) no-repeat fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}
.right-design {
    position: absolute;
    right: 0px;
    top: 15rem;
    z-index: -1;
}
.left-design {
    position: absolute;
    left: 0px;
    top: 60rem;
    z-index: -1;
}
.left-design1 {
    position: absolute;
    left: 0px;
    top: 130rem;
    z-index: -1;
}
.white__design {
    position: absolute;
}
.white__right-0 {     
    right: 0px;
    top: 4%;
}
.white__left-0 {
    left: 0px;
    top: 40%;
}
.white__right-1 {
    right: 0px;
    top: 70%;
}
section {
    color: #9F865E;
    min-height: 100vh;
}
.img-logo {
    height: 100px;
    margin: 20px auto;
}
article {
   /* margin: 4rem;*/
    margin-bottom: 2rem;
    margin-bottom: 100px;
}
.banner-container {
    margin: 15px;
    background: #f6f1ed;
    box-shadow: 0px 0px 30px 5px rgba(74, 74, 74, 0.25);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.banner-details {
    color: #9F865E;
    padding: 5rem 1rem !important;
}
.banner-page__title {
    text-align: left;
    padding: 6rem 2rem !important;
}
.banner-page__title .txt-title {
    font-size: 4rem;
}
.design-txt p {
    font-size: 1.8rem;
    line-height: 3rem;
    margin: auto;
    padding: 1rem 8rem;
}
.design-txt h2 {
    letter-spacing: 2.1px;
    font-size: 36px;
}
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.flex-container>div {
    background-color: transparent;
    width: 24rem;
    margin: 1.6rem;
    text-align: center;
    display: table;
    border-spacing: 0px 10px;
}
.flex-container figure {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
    height: 10rem;
}
.flex-container figure .design-icon{
    margin: auto;
    width: 80%
}
.flex-container p {
    margin: 2rem 5px;
    display: table-row;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #9F865E;
}
.all-events p {
    color: #9F865E !important;
    font-size: 1.8rem;
    line-height: 3rem;
    margin: auto;
    margin-top: 20px;
}
.all-events {
    margin: 6rem auto;
}
.all-events__container {
    margin: 0px;
}
.all-events__container figure .img {
    box-shadow: 0px 0px 30px 5px rgba(74, 74, 74, 0.25);
    margin: auto;
    width: 100%;
}
.all-events h2 {
    color: #242d4a;
    letter-spacing: 4px;
    font-size: 36px;
}
hr {
    width: 50px;
    border: 1.5px solid #8c6c4d;
    text-align: left;
    margin: 20px 0;
    background: #8c6c4d;
}
.right-side__img {
    float: right;
}
.right-side__para {
    float: left;
}
@media only screen and (max-width: 425px) and (orientation:portrait) {
    article {
        margin: 30px 0;
        margin-bottom: 80px;
    }
    .banner-container {
        margin: 15px;
    }
    .flex-container>div {
        margin: 2rem 1rem;
    }
    .img-logo {
        height: 60px;
    }
    .right-design,
    .left-design,
    .right-design1,
    .left-design1,
     .white__design {
        height: 18rem;
    }
    .banner-page__title {
        text-align: center;
    }
    .banner-page__title .txt-title {
        font-size: 3rem;
    }
    .design-txt h2 {
        letter-spacing: 4px;
        font-size: 2.2rem;
    }
    .design-txt p {
        font-size: 1.6rem;
        line-height: 2rem;
        padding: 0rem 1rem;
    }
    .flex-container p {
        font-size: 1.6rem;
        line-height: 2rem;
    }
    .event-content_details {
        text-align: center;
    }
    hr {
        margin: auto;
    }
    .all-events h2 {
        font-size: 2.6rem;
        letter-spacing: 2px;
    }
    .all-events p {
        font-size: 1.7rem;
        line-height: 2.2rem;
    }
    .all-events__container figure {
        margin: 0px 50px !important;
    }
    .all-events{
        margin-bottom: 2rem;
    }
}
@media only screen and (max-width: 767px) {
    .banner-page__title,
    .banner-details {
        padding: 1.3em !important;
        text-align: center !important;
    }
    .design-txt p {
        padding: 1rem 1rem;
    }
    .all-events__container figure {
        border-left: 1px solid !important;
        border-right: 1px solid !important;
        border-top: 1px solid !important;
        border-bottom: 1px solid !important;
        margin: 0px 50px !important;
        padding: 10px !important;
    }
    .event-content_details{
        text-align: center;
    }
    hr{
        margin: auto;
    }
}
@media only screen and (max-width: 1024px) {
    .event-content_img {
        padding: 0px !important;
    }
    .event-content_details {
        padding: 3rem !important;
    }
}