<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Membership - Become a Member at The Indus Club</title>
        <meta charset="utf-8">
        <meta name="description" content="Know more about the membership of an invitation only members' club, where the extraordinary individuals are invited for exclusive memberships. Visit our site for more info.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--   Following meta is for zoho   -->
        <meta content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
        <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" type="assets/img/x-icon" href="assets/img/favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/animate.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/club-membership.css">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NRH4XNW');</script>
<!-- End Google Tag Manager -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155266186-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-155266186-1');
</script>  

        
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '205036003699528'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=205036003699528&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
    
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MFBFBSMD');</script>
<!-- End Google Tag Manager -->
</head>

    <body ng-app="myApp"  class="body">
        <img class="right-design" src="assets/img/right-design.png">        
        <wb-header></wb-header>
        <section>
            <div class="container">
                <div class="row">
                    <div class="logo-div">
                        <a href="index.html"><img class="img-responsive img-logo" src="assets/img/logo-small.png"></a>
                    </div>
                </div>
            </div>
            <div class="container">
                <article class="gradient-border">
                    <div class="row banner-container">
                        <div class="col-lg-8 col-md-12 no-padding"> 
                            <picture>
                                <source class="img-responsive" srcset="assets/img/membership/membership__banner.webp" alt="Membership Banner" style="width: 100%;" type="image/webp">
                                <source class="img-responsive" srcset="assets/img/membership/membership__banner.png" alt="Membership Banner" style="width: 100%;" type="image/png">
                                <img class="img-responsive" src="assets/img/membership/membership__banner.png" alt="Membership Banner" style="width: 100%;">
                            </picture>    
                            <!--<img class="img-responsive" src="assets/img/membership/membership__banner.png" alt="Membership Banner" style="width: 100%;">-->
                        </div>
                        <div class="col-lg-4 col-md-12 no-padding  banner-page__title txt-center">
                            <h1 class="txt-uppercase txt-title  txt-gradient ">Membership</h1> </div>
                    </div>
                </article></div>
            <div  style="background: #f4f1ec; padding:50px 0; position: relative;">
                <img class="white__design  white__left-0" src="assets/img/left-design.png" alt="Indus Logo">
                <img class="white__design  white__right-0" src="assets/img/right-design.png" alt="Indus Logo">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 membership-txt txt-center">
                            <p>They say it is lonely at the top. We believe it is populated by the special ones. The ones that are beyond the sands of time.
                                <br style="display: block !important;">The ones restless to summit higher Everests. The Indus Club is proud that its walls are privy to the newsmakers,
                                <br> leaders and legends, as they recount their journeys, their breakthroughs,
                                <br> their next move and so much more. </p>
                            <p>Strictly by-invitation or member referral.</p>
                            <p> We have a range of membership categories for CXOs, founders, board members, renowned professionals and
                                <br>influencers from the world of media, sports and entertainment.</p>
                        </div>
                    </div>
                    <div class="row" style="margin: 6rem 0;">
                        <div class="flex-container">
                            <div>
                                <picture>
                                    <source class="img-responsive icon-img" srcset="assets/img/membership/individual.webp" alt="Individual Banner" type="image/webp">
                                    <source class="img-responsive icon-img" srcset="assets/img/membership/individual.png" alt="Individual Banner" type="image/png">
                                    <img class="img-responsive icon-img" src="assets/img/membership/individual.png" alt="Individual Banner">
                                </picture>  
                                <!--                                <img class="img-responsive icon-img" src="assets/img/membership/individual.png" alt="Individual">-->
                                <h2>INDIVIDUAL</h2>
                                <p>Leaders and newsmakers that are directly invited by the Club or referred by existing members. </p>
                                <p>15/10/5 years</p>
                            </div>
                            <div>
                                <picture>
                                    <source class="img-responsive icon-img" srcset="assets/img/membership/corporate.webp" alt="CORPORATE Banner" type="image/webp">
                                    <source class="img-responsive icon-img" srcset="assets/img/membership/corporate.png" alt="CORPORATE Banner" type="image/png">
                                    <img class="img-responsive icon-img" src="assets/img/membership/corporate.png" alt="CORPORATE Banner">
                                </picture>  
                                <!--                                <img class="img-responsive icon-img" src="assets/img/membership/corporate.png" alt="CORPORATE">-->
                                <h2>CORPORATE</h2>
                                <p>The rights and benefits of Corporate Members are the same as Individual Members. Additionally, they can avail exclusive offers through limited corporate plans.</p>
                                <p>15/10 years</p>
                            </div>
                            <div>
                                <picture>
                                    <source class="img-responsive icon-img" srcset="assets/img/membership/overseas.webp" alt="OVERSEAS Banner" type="image/webp">
                                    <source class="img-responsive icon-img" srcset="assets/img/membership/overseas.png" alt="OVERSEAS Banner" type="image/png">
                                    <img class="img-responsive icon-img" src="assets/img/membership/overseas.png" alt="OVERSEAS Banner">
                                </picture>  
                                <!--                                <img class="img-responsive icon-img" src="assets/img/membership/overseas.png" alt="OVERSEAS">-->
                                <h2>OVERSEAS</h2>
                                <p>For individuals who have permanent residence elsewhere, but frequently visit Mumbai for travel or leisure.</p>
                                <p>15/10/5 years</p>
                            </div>
                        </div>
                        <div class="flex-container">
                            <div>
                                <picture>
                                    <source class="img-responsive icon-img" srcset="assets/img/membership/expat.webp" alt="EXPATRIATES Banner" type="image/webp">
                                    <source class="img-responsive icon-img" srcset="assets/img/membership/expat.png" alt="EXPATRIATES Banner" type="image/png">
                                    <img class="img-responsive icon-img" src="assets/img/membership/expat.png" alt="EXPATRIATES Banner">
                                </picture>  
                                <!--                                <img class="img-responsive icon-img" src="assets/img/membership/expat.png" alt="EXPATRIATES">-->
                                <h2>EXPATRIATES</h2>
                                <p>For foreign nationals who have made Mumbai their home for a few years, for business or professional reasons.</p>
                                <p>5 years</p>
                            </div>
                            <div>
                                <picture>
                                    <source class="img-responsive icon-img" srcset="assets/img/membership/young-achievers.webp" alt="YOUNG ACHIEVERS Banner" type="image/webp">
                                    <source class="img-responsive icon-img" srcset="assets/img/membership/young-achievers.png" alt="YOUNG ACHIEVERS Banner" type="image/png">
                                    <img class="img-responsive icon-img" src="assets/img/membership/young-achievers.png" alt="YOUNG ACHIEVERS Banner">
                                </picture>  
                                <!--                                <img class="img-responsive icon-img" src="assets/img/membership/young-achievers.png" alt="YOUNG ACHIEVERS">-->
                                <h2>YOUNG ACHIEVERS</h2>
                                <p>For individuals under 35 years of age who have climbed the ladder of success as young leaders or newsmakers.</p>
                                <p>15/10/5 years</p>
                            </div>
                            <div>
                                <picture>
                                    <source class="img-responsive icon-img" srcset="assets/img/membership/women-achievers.webp" alt="WOMEN ACHIEVERS Banner" type="image/webp">
                                    <source class="img-responsive icon-img" srcset="assets/img/membership/women-achievers.png" alt="WOMEN ACHIEVERS Banner" type="image/png">
                                    <img class="img-responsive icon-img" src="assets/img/membership/women-achievers.png" alt="WOMEN ACHIEVERS Banner">
                                </picture>  
                                <!--                                <img class="img-responsive icon-img" src="assets/img/membership/women-achievers.png" alt="WOMEN ACHIEVERS">-->
                                <h2>WOMEN LEADERS</h2>
                                <p>Women who have trailblazed their way through the industry and deserve the finest.</p>
                                <p>15/10/5 years</p>
                            </div>
                        </div>
                        <div class="know-more"><a href="" class="know-more__btn" data-toggle="modal" data-target="#myModal">TO KNOW MORE</a></div>
                    </div>
                </div>
            </div>
        </section>
        <!--  Form Modal Start  -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="logo-div modal-title">
                            <a href="index.html">
                                <picture>
                                    <source class="img-responsive" srcset="assets/img/logo-small.webp" alt="Indus Club Logo" type="image/webp">
                                    <source class="img-responsive" srcset="assets/img/logo-small.png" alt="Indus Club Logo" type="image/png">
                                    <img class="img-responsive img-logo" src="assets/img/logo-small.png" alt="Indus Club Logo" style="margin-top: 0px;margin-bottom: 0px;">
                                </picture>    
                                <!--<img class="img-responsive img-logo" src="assets/img/logo-small.png" style="margin-top: 0px;margin-bottom: 0px;">-->
                            </a>
                        </div>
                        <button type="button" class="close close-btn" data-dismiss="modal" style="    position: absolute; right: 15px; top: 10px;">&times;</button>
                    </div>
                    <div class="modal-body"  ng-controller="mainController">
                        <div ng-show="isSent"><div style="text-align: center; margin: 20px 30px 50px;">
                            <h4>THANK YOU FOR YOUR INTEREST! <br>WE WILL GET IN TOUCH WITH YOU SHORTLY. <br><br>WARM REGARDS, <br>THE INDUS CLUB TEAM</h4>
                            </div></div>
                        <div ng-show="!isSent">
                            <p class="form-desc">The Indus Club membership is strictly by-invitation or member referral, extended to newsmakers, leaders and legends; at the sole of discretion of the Membership Committee. We welcome interest from persons that believe they belong to this unique collective and will respond promptly to inquiries.</p>

                            <form  class="form-horizontal" name="basicform" id="basic_form"  ng-submit="submitForm(basicform.$valid)" novalidate>
                                <div class="form-group" >
                                    <div class="col-sm-6 col-xs-12" ng-class="{ 'has-error' : basicform.uname.$invalid && !basicform.uname.$pristine }">
                                        <input type="text" class="form-control" id="uname" placeholder="Name" name="uname" ng-model="u.name" required>
                                        <p ng-show="basicform.uname.$invalid && !basicform.uname.$pristine" class="help-block">Your name is required.</p>
                                    </div>
                                    <div class="col-sm-6 col-xs-12" ng-class="{ 'has-error' : basicform.ucompany.$invalid && !basicform.ucompany.$pristine }">
                                        <input type="text" class="form-control" id="ucompany" placeholder="Company Name" name="ucompany" ng-model="u.company" required>
                                        <p ng-show="basicform.ucompany.$invalid && !basicform.ucompany.$pristine" class="help-block">Your company name is required.</p>
                                    </div>
                                </div>
				<div class="form-group">
				      <div class="col-sm-6 col-xs-12" ng-class="{ 'has-error' : basicform.ucity.$invalid && !basicform.ucity.$pristine }">
                                        <input type="text" class="form-control" id="ucity" placeholder="City" name="ucity" ng-model="u.city" required>
                                        <p ng-show="basicform.ucity.$invalid && !basicform.ucity.$pristine" class="help-block">Your city name is required.</p>
                                    </div>
				    <div class="col-sm-6 col-xs-12" ng-class="{ 'has-error' : basicform.uage.$invalid && !basicform.uage.$pristine }">
                                        <input type="text" class="form-control" id="uage" placeholder="Age" name="uage" ng-model="u.age" required>
                                        <p ng-show="basicform.uage.$invalid && !basicform.uage.$pristine" class="help-block">Your age is required.</p>
                                    </div>

				</div>
                                <div class="form-group">
                                    <div class="col-xs-12" ng-class="{ 'has-error' : basicform.sel1.$invalid && !basicform.sel1.$pristine }">
                                        <select class="form-control" id="sel1" name="sel1" ng-model="u.designation" >
                                            <option selected="true" disabled="disabled" value="" style="visibility:hidden;">Designation</option>
                                            <option value="Promoter/Founder">Promoter/Founder</option>
                                            <option value="Chairman/Managing Director">Chairman/Managing Director</option>
                                            <option value="CEO">CEO</option>
                                            <option value="COO/President">COO/President</option>
                                            <option value="CFO/Finance Director">CFO/Finance Director</option>
                                            <option value="CHRO/HR Director">CHRO/HR Director</option>
                                            <option value="Diplomat">Diplomat</option>
                                            <option value="Artist/Author">Artist/Author</option>
                                            <option value="Sportsperson">Sportsperson</option>
                                            <option value="Filmmaker">Filmmaker</option>
                                            <option value="Other">Other</option>
                                        </select>
                                        <p ng-show="basicform.sel1.$invalid && !basicform.sel1.$pristine" class="help-block">Select a designation.</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12" ng-class="{ 'has-error' : basicform.sel2.$invalid && !basicform.sel2.$pristine }">
                                        <select class="form-control" id="sel2" name="sel2" ng-model="u.social" >
                                            <option selected="true" disabled="disabled" value="" style="visibility:hidden;">How Did You Learn About Us? </option>
                                            <option value="Friends/family">Friends/Family</option>
                                            <option value="Colleagues/associates">Colleagues/Associates</option>
                                            <option value="Newspaper">Newspaper</option>
                                            <option value="Social media">Social Media</option>
                                            <option value="Online search ">  Online Search</option>
                                            <option value="Other">Other</option>
                                        </select>
                                        <p ng-show="basicform.sel2.$invalid && !basicform.sel2.$pristine" class="help-block">How Did You Learn About Us?</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6 col-xs-12" >

                                        <input type="text" class="form-control" id="umobile" placeholder="Mobile" name="umobile" ng-model="u.mobile" onfocus="this.placeholder = '',this.value='+91'" onblur="this.placeholder = 'Mobile'" required >
                                        <!--<p ng-show="basicform.umobile.$invalid && !basicform.umobile.$pristine" class="help-block">Must enter 10 digit phone number.</p>-->
                                    </div>
                                    <div class="col-sm-6 col-xs-12" ng-class="{ 'has-error' : basicform.uemail.$invalid && !basicform.uemail.$pristine }">
                                        <input type="email" class="form-control" id="uemail" placeholder="Email" name="uemail" ng-model="u.email" required>
                                        <p ng-show="basicform.uemail.$invalid && !basicform.uemail.$pristine" class="help-block">Enter a valid email.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12" style="text-align: center;">
                                        <button type="submit" class="btn btn-default submit-btn" style="margin: 10px auto;" >Submit</button>
                                    </div>
                                </div>
                            </form>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  Form Modal End  -->   
        <wb-footer></wb-footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="assets/js/common.js"></script>
        <script src="assets/js/anim.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
        <script>
            //            document.querySelector("#umobile").addEventListener("keypress", function (evt) {
            //                if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57)
            //                {
            //                    evt.preventDefault();
            //                }
            //            });

            var inputBox = document.getElementById("umobile");
            var invalidChars = [
                "-","a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z","A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z",".","=",")","(","?",",","'","]","[","{","}","%","#","$","!","@","<",">","~","`","_","*","^","$","/","\\","|",'"',"&",";"," ",
            ];
            inputBox.addEventListener("keydown", function(e) {
                if (invalidChars.includes(e.key)) {
                    e.preventDefault();
                }

            });
        </script>    
        <!--         <script type="text/javascript" src="https://zcs1.maillist-manage.com/js/jquery-1.11.0.min.js"></script>-->
        <script type='text/javascript' src='https://zcs1.maillist-manage.com/js/jquery-migrate-1.2.1.min.js'></script>
        <script type="text/javascript" src='https://zcs1.maillist-manage.com/js/ui.datepicker.js'  charset="utf-8"></script>
        <script type="text/javascript" src="https://zcs1.maillist-manage.com/js/jquery.form.js"></script>
        <script type="text/javascript" src="https://zcs1.maillist-manage.com/js/optin_min.js"></script>
        <script src='https://www.google.com/recaptcha/api.js?onload=loadreCaptcha&render=explicit' async defer ></script>
        <script type="text/javascript">
            var $ZC = jQuery.noConflict();
            var trackingText='ZCFORMVIEW';
            var new_optin_response_in=0;
            var duplicate_optin_response_in=0;
            $ZC(document).ready( function($) {
                $ZC("#zc_trackCode").val(trackingText);
                $ZC("#fieldBorder").val($ZC("[changeItem='SIGNUP_FORM_FIELD']").css("border-color"));
                _setOptin(false,function(th){
                    /*Before submit, if you want to trigger your event, "include your code here"*/
                });
                /*Load Captcha For this*/ 
                loadCaptcha('https://campaigns.zoho.com/campaigns/CaptchaVerify.zc?mode=generate');
                /*Tracking Enabled*/ 
                trackSignupEvent(trackingText);
            });
            var loadreCaptcha = function()
            {if($ZC("[id='recapDiv']").length>1){
                var a = 1; $ZC("[id='recapDiv']").each(function(){
                    $ZC(this).attr("id","recapDiv_"+a);
                    widgetId1 = grecaptcha.render('recapDiv_'+a,{
                        'sitekey' : '6LdNeDUUAAAAABpwRBYbCMJvQoxLi4d31Oho0EBw',
                        'theme' : 'dark',
                    });a++;});}else
                {widgetId1 = grecaptcha.render('recapDiv',{
                    'sitekey' : '6LdNeDUUAAAAABpwRBYbCMJvQoxLi4d31Oho0EBw',
                    'theme' : 'dark',
                });
                }
            }  
        </script>
        <script src="assets/js/modernizr-custom.js"></script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NRH4XNW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    </body>
    <script type="text/javascript"> _linkedin_partner_id = "383539"; window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; window._linkedin_data_partner_ids.push(_linkedin_partner_id); </script><script type="text/javascript"> (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(); </script> <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=383539&fmt=gif" /> </noscript>    
</html>
